.expensive-card {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    align-items: center;
}
.date-box {
    padding: 5px;
    text-align: center;
}
.box-item {
    height: fit-content;
}